$blue-light: #edf3ff;
$blue: #00aafe;
$blue-dark: #009bef;
$blue-hover: #44c4ff;
$white: #fff;
$coral: #ff6247;
$background: #f2f4f6;
$btn-back: #c5c8ce;
$primary: #374553;
$secondary: #646f7c;
$tertiary: #eee;
